img{
  max-width: 45%;

}

#price{
  margin-top: 5em;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
}

.wrapper{
  width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border: 1px solid #999;
    padding: 5em;
    border-radius: 10px;
}


