img{
  max-width: 8%;
}

.price{
  vertical-align: middle;
}

.badge{
  padding: 10px;
  font-size: 1em;
  border-radius: 15px;
}

.itemName{
  border-bottom: 2px solid red;
}

ul{
  border-bottom: 4px solid red;
  border-top: 4px solid red;
}

.backToShop{
  font-size: 1.2em;
  font-weight: bold;
}
