<div class="container mt-5">
  <div class="row" *ngIf="getProducts(); else loading">
    <div class="col-3 mb-3" *ngFor="let product of getProducts()">
      <div class="card h-100" style="width: 18rem;">
        <img class="card-img-top" src="{{product.image}}" alt="Card image cap" [routerLink]="['/detail/', product.id]">
        <div class="card-body">
          <h5 class="card-title text-center">{{product.name}}</h5>
          <p class="card-text text-center">{{product.description.substring(0, 60)}}...</p>
          <h5 class="card-text text-center">{{product.price}}€</h5>
          <div class="d-flex justify-content-around">
            <button class="btn btn-success" (click)="addItemToCart(product.id)">Aggiungi al carrello</button>
            <button class="btn btn-danger" [routerLink]="['/detail/', product.id]">Dettagli</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
